/* Landing.css */
.container {
  width: 100%;
  height: 100%;
}

.bord-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  transform: translateY(50%);
}